@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#f6f0ea, #f1dfd1);
  min-height: 100vh;
  overflow: auto;
}


/* container for all lists */
.mainContainer {
  padding: 10px 0;
  /* bottom margin to make sure contents aren't covered by bottom nav bar */
  margin-bottom: 40px;
}

/* task list container sizing */
.listContainer {
  /* background: linear-gradient(#7c98b3 , #637081  ); */
  margin: 10px auto;
  overflow: auto;
  min-height: 300px;
  padding: 15px;
  border-radius: 15px;
}

/* styling for individual tasks */
.task {
  background: linear-gradient(#f5f7fa, #b8c6db);
  margin: 5px;
  padding: 10px 20px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-flex-left {
  cursor: pointer;
}

.task-flex-mid {
  cursor: pointer;
}

.task-flex-right {
  cursor: pointer;
}

/* styling for individual subtasks */
.subtask {
  background: #f4f4f4;
  margin: 0px 20px 2px 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.addsubtask {
  background: none;
  margin: 0px 20px 2px 50px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.subtaskform {
  display: inline-flex;
  justify-content: space-between;
}

.templateInput {
  padding: 5px;
}

.textInput {
  padding: 2px;
}

.addSubForm {
  display: flex;
}

.addSubForm input {
  width: 9em;
}

.addTaskInput {
  margin: 10px;
  color: rgb(221, 221, 221);
}

.addTaskButton {
  color: rgb(221, 221, 221);
  border: solid rgb(221, 221, 221) 1px;
  background-color: #444444;
  padding: 2px 5px 2px 5px;
}

.addTaskButton:active {
  background-color: black;
}

.subtaskSectionAdd {
  margin:2px;
}

.numberInput {
  width: 3em;
}

.react-date-picker__inputGroup__input,
.react-time-picker__inputGroup__input {
  color: rgb(221, 221, 221);
}

.react-date-picker__button svg,
.react-time-picker__button svg {
  display: inherit;
  stroke: rgb(221, 221, 221);
}

/* window views that pop up over the current view, such as adding a new task */
.popover {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  align-items: center;
  background:black;
  width: 250px;
  position: fixed;
  bottom: 95px;
  padding: 25px;
  left: 50%;
  margin-left: -125px;
  border-radius: 11px;
  box-shadow: 10px 10px lightblue;
}

/* Modified from: https://codepen.io/kirstenallen/pen/MWwPYYm */
/* this creates the little bubbles below the window */
.popoverTag1 {
  z-index: 1;
  background:black;
  box-shadow: 10px 10px lightblue;
  content: ".";
  -webkit-text-fill-color: black;
  text-shadow: 5px 5px lightblue;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: black;
  position: fixed;
  display: block;
  bottom: 70px;
  box-shadow: 5px 5px lightblue;
}

.popoverTag2 {
  z-index: 1;
  background:black;
  box-shadow: 10px 10px lightblue;
  content: ".";
  -webkit-text-fill-color: black;
  text-shadow: 5px 5px lightblue;
  font-size: 55px;
  width: 23px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: black;
  position: fixed;
  display: block;
  bottom: 55px;
  box-shadow: 5px 5px lightblue;
}

/* all the directional popovers are for creating the bubbles in different places */

.popoverRight1 {
  text-align: right;
  right: 50%;
  transform: translate(145px);
}

.popoverRight2 {
  text-align: right;
  right: 50%;
  transform: translate(160px);
}

.popoverLeft1 {
  text-align: left;
  left: 50%;
  transform: translate(-145px);
}

.popoverLeft2 {
  text-align: left;
  left: 50%;
  transform: translate(-160px);
}

.popoverCenter1 {
  text-align: center;
  right: 50%;
  transform: translate(25px);
}

.popoverCenter2 {
  text-align: center;
  right: 50%;
  transform: translate(10px);
}

.listDisplay {
  text-align: center;
  /* padding: 0px 5px 0 5px; */
  vertical-align: middle;
  width: 100%;
  border: 2px solid black;
}

.listDisplay:hover {
  border: 2px solid lightblue;
  color: lightblue;
  cursor: pointer;
}

.listDisplay:active {
  transform: translate(0, 2px);
}

.listNavContainer {
  display: flex;
  align-items: center;
}

.listHeader {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.listOfLists {
  list-style: none;
  position: relative;
}

.listOfLists li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.discord {
  width: 25px;
  margin-left: 10px;
}

.outlined {
  border: solid lightblue 2px;
}

.icon {
  padding: 2px;
  border-radius: 50%;
}

.optionsOption {
  text-align: left;
  margin-left: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.remindersContainer {
  display: flex;
  justify-content: center;
  margin: 10px 10px 0px 0px;
  width: 100%;
}

.centerAlignContainer {
  display: flex;
  align-items: center;
  margin: 10px 10px 0 0;
  width: 100%;
  flex-direction: column;
}

.verticalSpace {
  margin-top: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.clickableText:hover {
  color: lightblue;
  cursor: pointer;
}

.moveDown {
  transform: rotate(180deg);
}

/* we use a media query to keep the bubbles in the right place when the screen is smaller */

@media only screen and (max-width: 500px) {
  
  .popoverRight1 {
    right: 23vw;
    transform: translate(0);
  }

  .popoverRight2 {
    right: 20vw;
    transform: translate(0);
  }

  .popoverLeft1 {
    left: 23vw;
    transform: translate(0);
  }

  .popoverLeft2 {
    left: 20vw;
    transform: translate(0);
  }

}
